/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Oswald');

.Experience {
    position: relative;
    background: #F8F8F8;
}

/* Experience title styles */
#experience-title-container {
    position: relative;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

#experience-title {
    color: #1D2951;
    font-size: 5em;
}

/* Description of page */
.experience-about {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    font-size: 1.4em;
}

.experience-company-button-container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

.experience-company-logo-box {
    transition: all .2s ease-in-out;
}

.experience-company-logo-box:hover {
    transform: scale(1.1);
}

.experience-company-logo-box > p {
    padding: 10px;
    text-align: center;
}

.company-logo {
    height: 200px;
    
}

.cbs-blurb-container {
    background: #EF0000;
    height: 500px;
}

.cbs-blurb-container-mobile {
    background: #EF0000;
    height: 500px;
    display: none;
}

.company-about-title {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    font-size: 3em;
    color: white;
    font-weight: bold;
}

.lexmark-blurb-container {
    background: #018A44;
    height: 500px;
}

.lexmark-blurb-container-mobile {
    height: 770px;
    display: none;
}

.uk-blurb-container-mobile {
    height: 800px;
    display: none;
}

.uk-blurb-container {
    background: #0033A0;
    height: 800px;
}

.company-role {
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.company-role-info {
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.icon-container-exp {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.icons-row-exp {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.icon-box-exp {
    transition: all .2s ease-in-out;
}

.icon-box-exp-text {
    transition: all .2s ease-in-out;
    margin-top: 20px;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.icon-box-exp:hover {
    transform: scale(1.1);
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen 
    and (min-width: 414px) 
    and (max-height: 736px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
    #experience-title-container {
        width: 100%;
    }

    #experience-title {
        font-size: 4em;
    }

    .experience-company-button-container {
        width: 100%;
        display: none;
    }

    .experience-company-logo-box {
        width: 100px;
        margin: 0 auto;
        margin-left: 29px;
    }

    .experience-company-logo-box > p {
        display: none;
    }

    .experience-company-image {
        width: 70%;
    }

    #collapser {
        display: none;
    }

    .cbs-blurb-container-mobile {
        background: #EF0000;
        height: 570px;
        display: block;
    }

    .lexmark-blurb-container-mobile {
        background: #018A44;
        height: 685px !important;
        display: block;
    }

    .uk-blurb-container-mobile {
        background: #0033A0;
        height: 1498px;
        display: block;
    }

    .Experience {
        height: 3220px !important;
    } 


}

/* iPhone X */
@media only screen and (max-width: 375px) {
    #experience-title-container {
        width: 100%;
    }

    #experience-title {
        font-size: 3em;
    }

    .experience-company-button-container {
        width: 100%;
        display: none;
    }

    .experience-company-logo-box {
        width: 100px;
        margin: 0 auto;
        margin-left: 29px;
    }

    .experience-company-logo-box > p {
        display: none;
    }

    .experience-company-image {
        width: 70%;
    }

    #collapser {
        display: none;
    }

    .cbs-blurb-container-mobile {
        background: #EF0000;
        height: 570px;
        display: block;
    }

    .lexmark-blurb-container-mobile {
        background: #018A44;
        height: 770px;
        display: block;
    }

    .uk-blurb-container-mobile {
        background: #0033A0;
        height: 1600px;
        display: block;
    }

    .Experience {
        height: 430vh !important;
    } 

}




/* iPhone 6, 7, 8, 6S */
@media only screen 
  and (min-width: 375px) 
  and (max-height: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #experience-title-container {
        width: 100%;
    }

    #experience-title {
        font-size: 3.5em;
    }

    .experience-company-button-container {
        width: 100%;
        display: none;
    }

    .experience-company-logo-box {
        width: 100px;
        margin: 0 auto;
        margin-left: 29px;
    }

    .experience-company-logo-box > p {
        display: none;
    }

    .experience-company-image {
        width: 70%;
    }

    #collapser {
        display: none;
    }

    .cbs-blurb-container-mobile {
        background: #EF0000;
        height: 570px;
        display: block;
    }

    .lexmark-blurb-container-mobile {
        background: #018A44;
        height: 730px;
        display: block;
    }

    .uk-blurb-container-mobile {
        background: #0033A0;
        height: 1805px;
        display: block;
    }

    .Experience {
        height: 3450px !important;
    } 

}



/* Desktop stuff */

@media only screen and (max-width: 1262px) {
    .lexmark-blurb-container {
        height: 530px !important;
    }

}

@media only screen and (max-width: 882px) {
    .lexmark-blurb-container {
        height: 550px !important;
    }


}

@media only screen and (max-width: 733px) {
    .lexmark-blurb-container {
        height: 620px !important;
    }
}

@media only screen and (max-width: 659px) {
    .lexmark-blurb-container {
        height: 630px !important;
    }
}

@media only screen and (max-width: 658px) {
    .cbs-blurb-container-mobile {
        height: 410px !important;
    }

    .lexmark-blurb-container-mobile {
        height: 500px !important;
    }

    .uk-blurb-container-mobile {
        height: 1100px !important;
    }

    .Experience {
        height: 2400px !important;
    }
}

@media only screen and (max-width: 641px) {
    .lexmark-blurb-container-mobile {
        height: 530px !important;
    }

}

@media only screen and (max-width: 624px) {
    .uk-blurb-container-mobile {
        height: 1500px !important;
    }

    .Experience {
        height: 2470px !important;
    }

}

@media only screen and (max-width: 600px) {
    .uk-blurb-container-mobile {
        height: 1600px !important;
    }

    .Experience {
        height: 2550px !important;
    }

}

@media only screen and (max-width: 549px) {
    .uk-blurb-container-mobile {
        height: 1700px !important;
    }

    .Experience {
        height: 2600px !important;
    }

}