.Experience {
    position: relative;
    /* height: 180vh !important; */
    background: #F8F8F8;
}

#experience-title-container {
    position: relative;
    text-align: center;
    width: 70%;
    margin: 0 auto;

    padding-top: 30px;
}

#experience-title {
    color: #1D2951;
    font-size: 5em;
}

.experience-about {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    font-size: 1.4em;
}

.company-button-container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

.company-logo-box {
    transition: all .2s ease-in-out;
}

.company-logo-box:hover {
    transform: scale(1.1);
}

.company-logo-box > p {
    padding: 10px;
    text-align: center;
}

.company-logo {
    height: 200px;
    
}

.cbs-blurb-container {
    background: #EF0000;
    height: 500px;
    /* height: 100vh; */
}

.company-about-title {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    font-size: 3em;
    color: white;
    font-weight: bold;
}

.lexmark-blurb-container {
    background: #018A44;
    height: 500px;
    /* height: 100vh; */
}

.uk-blurb-container {
    background: #0033A0;
    height: 800px;
    /* height: 100vh; */
}

.company-role {
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.company-role-info {
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.icon-container-exp {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.icons-row-exp {
    display: flex;
    /* margin: 0 auto; */
    justify-content: space-between;
    margin: 20px;
}

.icon-box-exp {
    transition: all .2s ease-in-out;
}

.icon-box-exp:hover {
    transform: scale(1.1);
}