@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Chivo:700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


body {
	background-color: #1D2951;
}

.title-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	width: 80%;
	/* background: black; */
	z-index:2;
	animation: fade-in;
	animation-duration: 3s;
}

#title-img-container {
	width: 100%;
	/* background: black; */
	padding-top: 20px;
	text-align: center;
}

.title-logo {
	width: 50px;
	margin-left: 20px;
	margin-right: 20px;
	transition: all .2s ease-in-out
}

.title-logo:hover {
	transform: scale(1.1);
}

.title-button {
	border-color: white;
	color: white;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	width: 190px;
	padding: 9px;
	font-family: 'Josefin Sans', sans-serif;

	transition: all .2s ease-in-out
}

.title-button:hover {
	background-color: #545E7F;
	border-color: #ffffff;
	transform: scale(1.1);
}

#title-button-container {
	margin-top: -10px;
	text-align: center;
}

#title-name {
	font-size: 7em;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

.Particle-background {
	width: 100%;
	height: 100%;
	z-index:1;
	position: absolute; 
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

