#Projects {
    position: relative;
    background-color:  #F8F8F8;
}

#projects-title-container {
    position: relative;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 30px;
}

#projects-title {
    color: #1D2951;
    font-size: 5em;
}

.projects-about {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    font-size: 1.4em;
}

.project-icon {
    height: 100%;
    width: 7em; /* 1em: 16px parent font size */
}

.placeholder {
    width: 20%;
}

.project-container {
    display: flex;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    font-size: 16px;
    align-items: flex-start;
}

.project-description {
    justify-self: right;
    text-align: left;
    align-self: center;
}

.project-title {
    color: #1D2951;
    text-align: left;
}