#Projects {
    position: relative;
    background-color:  #F8F8F8;
}

#projects-title-container {
    position: relative;
    text-align: center;
    width: 70%;
    margin: 0 auto;

    padding-top: 30px;
}

#projects-title {
    color: #1D2951;
    font-size: 5em;
}

.projects-about {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    font-size: 1.4em;
}

.project-icon {
    width: 200px;
    display: inline-block;
}

.project-container {
    /* display: flex; */
    display: inline-block;
    height: 400px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    font-size: 1.4em;

    /* align-items: center; */
}

.project-description {
    width: 30%;
    display: inline-block;
}
