body {
	background-color: #1D2951;
}

#Welcome {
	height: 100vh !important;
	/* width: 100vw !important; */
	width: 100vw !important;
	display: block;
}

/* Welcome title container & elements */
.welcome-title-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	width: 80%;
	z-index:2;
	animation: fade-in;
	animation-duration: 3s;
}

#welcome-title-name {
	font-size: 7em;
	text-align: center;
	padding-bottom: 10px;
}

/* Section button container & elements */
#welcome-section-button-container {
	margin-top: -10px;
	text-align: center;
}

.welcome-section-button {
	border-color: white;
	color: white;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	width: 190px;
	padding: 9px;
	transition: all .2s ease-in-out;
}

.welcome-section-button:hover {
	background-color: #545E7F;
	border-color: #ffffff;
	transform: scale(1.1);
}

/* Welcome image container & elements */
#welcome-title-img-container {
	width: 100%;
	padding-top: 20px;
	text-align: center;
	
}

.welcome-title-icon {
	width: 50px;
	margin-left: 20px;
	margin-right: 20px;
	transition: all .2s ease-in-out
}

.welcome-title-icon:hover {
	transform: scale(1.1);
}

/* ParticlesJS */
.Particle-background {
	width: 100%;
	height: 100%;
	z-index:1;
	position: absolute; 
}

/* Animations */
@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* iPhone X */
@media only screen and (max-width: 376px) {
	.welcome-title-container {
		width: 100%;
	}
	
	#welcome-title-name {
		font-size: 4em;
	}
	
	.welcome-section-button {
		margin-top: 20px;
	}

	#welcome-title-img-container {
		margin-top: 20px;
	}

	.Experience {
		height: 200vh !important;
	}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
	.welcome-title-container {
		width: 100%;
	}
	
	#welcome-title-name {
		font-size: 5em;
	}
	
	.welcome-section-button {
		margin-top: 20px;
	}

	#welcome-title-img-container {
		margin-top: 20px;
	}

	.Experience {
		height: 200vh !important;
	}
  }